@if (product) {

<div class="product-detail">

  <!-- IMAGE -->
  <div class="image">
    <img
      [src]="'assets/images/' + product.image"
      [alt]="product.nom">
  </div>

  <!-- NOM -->
  <h2 class="title">
    {{ product.nom }}
  </h2>

  <!-- PRIX -->
  <p class="price">
    {{ product.prix }} €
  </p>

  <!-- CATEGORIE -->
  <p class="category">
    Catégorie : {{ product.category }}
  </p>

  <!-- STOCK -->
  @if (product.stock > 0) {

    <p class="stock">
      Stock : {{ product.stock }}
    </p>

  } @else {

    <p class="out">
      🚫 Rupture de stock
    </p>

  }

  <!-- AJOUT PANIER -->
  <button
    (click)="addToCart(product)"
    [disabled]="product.stock === 0">

    Ajouter au panier

  </button>

  
  

</div>

}