<div class="card" (click)="goToDetail(product.id)">

  <!-- IMAGE -->
  <div class="image">
    <img [src]="'assets/images/' + product.image">
  </div>

  <!-- NOM -->
  <h3 class="title">
    {{ product.nom }}
  </h3>

  <!-- PRIX -->
  <p class="price">
    {{ product.prix }} €
  </p>

  <!-- CATEGORIE -->
  <p class="category">
    {{ product.category }}
  </p>

  <!-- STOCK -->
  @if (product.stock > 0) {
    <p class="stock">
      Stock : {{ product.stock }}
    </p>
  } @else {
    <p class="out">
      🚫 Rupture de stock
    </p>
  }

  <!-- BOUTON PANIER -->
   <!-- stopPropagation() -> empêcher le bouton panier d’ouvrir le détail produit -->
  <button
    (click)="add(); $event.stopPropagation()"    
    [disabled]="product.stock === 0">

    Ajouter au panier

  </button>

  <!-- SUPPRIMER
  @if (isAdmin) {
  <button class="remove" (click)="remove(item)">
    Supprimer
  </button>
  } -->

</div>