<div class="cart-container">

  <h2>Mon Panier</h2>

  @if (cart.length > 0) {

  <!-- LISTE PRODUITS -->
  @for (item of cart; track item) {

  <div class="cart-item">

    <!-- IMAGE -->
    <img [src]="'assets/images/' + item.image" />

    <!-- INFOS -->
    <div class="info">
      <p class="name">{{ item.nom }}</p>
      <p class="price">{{ item.prix }} €</p>
    </div>

    <!-- QUANTITÉ -->
    <div class="quantity">
      <button (click)="decrease(item)">-</button>
      <span>{{ item.quantity }}</span>
      <button (click)="increase(item)">+</button>
    </div>

    <!-- SUPPRIMER -->
    <button class="remove" (click)="remove(item)">
      Supprimer
    </button>

  </div>

  }

  <!-- TOTAL -->
  <div class="total">
    Total : {{ total }} €
  </div>

  <!-- ACTIONS -->
  <button class="clear-btn" (click)="clearCart()">
    Vider le panier
  </button>

  <button class="validate-btn" (click)="checkout()">
    Valider ma commande
  </button>

  <button routerLink="/payment">
    Passer au paiement
  </button>

  } @else {

  <!-- PANIER VIDE -->
  <div class="empty">
    🛒 Remplis ton panier
  </div>

  <button routerLink="/">
    Continuer les achats
  </button>

  }

</div>