<h2>Liste des produits</h2>

<div class="search">
  <input
    type="text"
    placeholder="Rechercher..."
    [(ngModel)]="searchText"
    (input)="resetPage()"
  />
</div>

<div class="filter">
  @for (c of categories; track c) {
    <button (click)="selectedCategory = c; resetPage()">
      {{ c }}
    </button>
  }
</div>

<div class="container">
  @for (p of paginatedProducts; track p.id) {
    <app-product
      [product]="p"
      (addToCart)="onAddToCart($event)">
    </app-product>
  }
</div>

<app-pagination-component
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="filteredProducts.length"
  (next)="nextPage()"
  (prev)="prevPage()">
</app-pagination-component>