.pagination {

  display: flex;
  justify-content: center;

  gap: 10px;

  margin: 30px 0;

  button {

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 10px;

    background: #f3f3f3;

    cursor: pointer;

    font-weight: bold;

    transition: 0.3s;

    &:hover {
      background: #e6007e;
      color: white;
      transform: translateY(-2px);
    }

    &.active {
      background: linear-gradient(135deg, #ff008c, #ff5ca8);
      color: white;
    }
  }
}